@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@font-face {
  font-family: HighTrial;
  src: url('/fonts/HighTrial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
  

@font-face {
  font-family: 'Pervitina';
  src: url('/fonts/Pervitina.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rockstar;
  src: url('/fonts/Rockstar.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-HighmanTrial {
  font-family: HighmanTrial, sans-serif;
}

.font-Pervitina {
  font-family: 'Pervitina', sans-serif;
}

.font-Rockstar {
  font-family: 'Rockstar', sans-serif;
}
